/*
* @Author: calasaba
* @Date:   2018-08-01 16:45:56
* @Last Modified by:   calasaba
* @Last Modified time: 2018-08-03 08:59:45
*/
body{
    margin: 0;
    padding: 0;
}
.bigBox{
    width: 100vw;
    height: 100vw;
    margin:0 auto;
}
.smallBox{
    width: 30vw;
    height:30vw;
    background: #ffa600;
    float : left;
    margin: 2vw 0 0 2vw;
    -moz-border-radius : 10%;
    -webkit-border-radius : 10%;
    -o-border-radius : 10%;
    -ms-border-radius : 10%;
    border-radius : 10%;
}
.overflow: {
    overflow: auto;
}